.aboutdiv {
    padding-top: 100px;
    position: relative;
}

.aboutimg {
    position: relative;
}

.navbar-nav li a {
    font-weight: bold;
}

.navcol {
    background-color: #FD841F;
}

.navcol1 {
    background-color: white;
}

.nametxt {
    color: #FD841F;
    font-size: 1.6rem;
}
.nameptxt {
    color: #FD841F;
}

.abth1 {
    font-size: 1rem;
    text-align: right;
}

.abth2 {
    font-size: 1rem;
}

.services-container {
    background-color: #fd7200;
    background-size: cover;
    margin-top: 8rem;
}

.serglass {
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(198, 198, 198, 25%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 1);

}

.glassdiv h2 {
    font-weight: bolder;
    font-size: 1.5rem;
}



.glassdiv {
    padding: 25px;
}

